* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace ;
    
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 600px;
    width: 500px;
    padding: 8px;
}

#calculator, .row {
    background-color: #000000;
}

#display {
    display: flex;
    justify-content: flex-end;
    background-color: #D5D3D4;
    height: 20%;
    margin-bottom: 2px;
}

#displayValue {
    align-self: flex-end;
    padding: 8px;
    font-size: 48px;
    color: #14213d;
}

.row {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 2px 0px;
}

button {
    flex: 1;
}

.number, #decimal {
    background-color: #17394A;
    color: #e5e5e5;
}

.operator, #equals {
    background-color: #fca311;
    color: #14213d;
}

#zero {
    flex: 0 50%;
}




